[2021-01-13 11:02] vikasdo opened #1 "Create A Login Page"
@VamsiMudaliar

[2021-01-14 16:37] VamsiMudaliar commented on #1
I already did u can close this issue

[2021-01-15 16:25] #1 closed

[2021-02-22 13:08] Subhangini opened #2 "Readme updation"
Let me know if this needs to be done
I will try to make it attractive.

[2021-02-22 13:25] Subhangini opened #3 "License missing"

[2021-02-22 13:27] Subhangini opened #4 "Add Description"

[2021-02-22 13:28] Subhangini opened #5 "Add Pull request template"

[2021-02-22 13:28] Subhangini opened #6 "Add Code of conduct"

[2021-02-22 13:29] Subhangini opened #7 "Add Issue Templates"

[2021-02-22 13:58] Subhangini commented on #7
Assign this to me.

[2021-02-22 14:09] Subhangini commented on #6
Assign this issue to me

[2021-02-22 16:36] vikasdo opened #8 "Add retailers,publishers admin apage and their analytics"

[2021-02-23 06:37] Subhangini commented on #5
Assign this issue to me

[2021-02-23 06:38] Subhangini commented on #4
Assign this issue to me

[2021-02-28 15:41] vikasdo opened #12 "Add more features in admin dashboard"
You can view admin URL/admin

[2021-03-01 03:34] vikasdo opened #13 "Make screenshots as gif in order of flow"
@Subhangini

[2021-03-01 06:32] Subhangini commented on #13
I didn't get .What am I supposed to do?

[2021-03-01 07:11] vikasdo commented on #13
https://dev.to/kelli/demo-your-app-in-your-github-readme-with-an-animated-gif-2o3c

On Mon, 1 Mar 2021, 12:03 Coder_Subhangini, <notifications@github.com>
wrote:

[2021-03-01 17:50] Subhangini commented on #13
ok ,I would like to do this

[2021-03-01 18:05] Subhangini opened #14 "Error Decoding QR ode"
### Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

### Expected Behavior
QR code should work

### Current Behavior

Error Decoding QR code

#

[2021-03-04 07:03] Aayush-hub commented on #2
@vikasdo Can I work on this?

[2021-03-04 08:10] vikasdo commented on #14
That's a problem then you need to fix open scanner in mobile and get link and try to make it to bar code again in your own way

[2021-03-04 08:11] vikasdo opened #15 "Make a heat map of users for website"

[2021-03-04 08:55] Aayush-hub commented on #2
@vikasdo Can I make PR now or I have to it after 8th March ?

[2021-03-04 09:01] vikasdo commented on #2
You can make now no problem

On Thu, 4 Mar 2021, 14:26 Aayush Garg, <notifications@github.com> wrote:

[2021-03-04 10:13] vikasdo commented on #2
Please update video link explaining steps and adding text
Link to Video :
https://drive.google.com/file/d/138YFG8sWrRJwtVqcWOFOt8Qin-ZQH7MX/view?usp=drivesdk

[2021-03-04 16:56] Subhangini commented on #14
From where i can get the link ?

[2021-03-04 17:11] vikasdo commented on #14
Scan on mobile or in chrome you have option check it

On Thu, 4 Mar 2021, 22:26 Coder_Subhangini, <notifications@github.com>
wrote:

[2021-03-04 17:56] Subhangini commented on #14
The link generate when the QR scans successfully but in this case Qr is not being scanned.

[2021-03-05 06:48] Aayush-hub commented on #2
@vikasdo Can u provide me resources as the resources already in README file is not working(like link to docs).

[2021-03-05 06:52] vikasdo commented on #2
https://drive.google.com/file/d/1f7TCuBrfeaU62j1wUKqRqG286XLAtAC8/view?usp=sharing

[2021-03-05 10:25] Subhangini commented on #5
@vikasdo  can i work on this?

[2021-03-05 11:28] #7 closed

[2021-03-05 11:28] #3 closed

[2021-03-06 08:52] Aayush-hub commented on #2
@vikasdo Can you please review changes [here](https://github.com/Aayush-hub/Book-Recommendation-Analysis.git) and suggest further changes required if any. And can you provide link of the website as QR code is not working :)

[2021-03-06 08:54] vikasdo commented on #2
Remove QR code for now it is under maintenance

[2021-03-06 08:54] vikasdo commented on #2
And make a pull request when you have  done changes it is a good practice

[2021-03-06 08:56] Aayush-hub commented on #2
@vikasdo Pull request before 8th march is considered for evaluation for GSSoC21?

[2021-03-06 08:58] vikasdo commented on #2
Yes, it is we  decide who we can take

On Sat, 6 Mar 2021, 14:26 Aayush Garg, <notifications@github.com> wrote:

[2021-03-07 10:02] #2 closed

[2021-03-07 10:05] vikasdo opened #20 "Make colab links Bette in readme"
Add a features to share their views ,plan to shape website better so that each one can view the other person opinion see if any option is available to apply this

[2021-03-09 07:46] #6 closed

[2021-03-09 10:22] Subhangini commented on #4
can i work on this

[2021-03-09 10:26] Subhangini commented on #15
I would like to work on this issue. Can I?

[2021-03-09 11:41] Subhangini commented on #5
![S1](https://user-images.githubusercontent.com/68437435/110465177-1a847600-80fa-11eb-90de-87f364ba33df.jpg)

Please label the issue under GSSOC'21 .So that our contribution is counted .

[2021-03-12 06:10] Anam118 commented on #15
@vikasdo Can I work on this issue as i have already added certain heatmaps in my projects.I am a participant of gssoc2021.

[2021-03-15 09:34] VishvamPorwal opened #21 "Automatic Mail feature"
### Expected Behavior

After some one registers in the website, an automatic mail is send to the new user that he or she has registered in book.ly.

### Current Behavior

User is just being added to the database.

I would like to work on this feature @vikasdo please assign it to me.

[2021-03-15 09:41] VishvamPorwal opened #22 "Forgot password Feature"
### Expected Behavior

After adding forgot password feature user is supposed to enter his/her's email id, then the email will be checked in the database and if it is there then an email will be sent to the user providing them with an OTP( random 4 digit number), and in parallel with the email, the user will be redirected to an another page where he will enter the otp and if the otp matches with th

[2021-03-15 11:08] Aryamanz29 opened #23 "[Update] Current Legacy issue template"
Currently, there is no` PR template `for this repo and the `issue template is outdated` and needs to update.

[2021-03-15 11:09] Aryamanz29 commented on #23
New issue template may consist - feat,bug,custom etc

[2021-03-15 11:10] Aryamanz29 commented on #23
I would like to work on this issue, Kindly assign it to me

[2021-03-15 18:03] Aryamanz29 commented on #23
please add Gssoc label to this @vikasdo

[2021-03-15 18:06] Aryamanz29 commented on #23
I think there is already issue #5 regarding the PR template. So I only update the legacy issue template.

[2021-03-15 18:32] Aryamanz29 commented on #23
Kindly review my PR and add a ` Label (GSSOC21)`  to it @vikasdo

[2021-03-15 18:36] VishvamPorwal commented on #21
Please label this issue as GSSOC21 @vikasdo sir, also which command did you use to create requirements.txt, I usually use pip3 freeze > requirements.txt but my requirements file looked very different then the one in fit repo(I just need to add Flask-Mail==0.9.1).

[2021-03-16 02:28] vikasdo commented on #21
So add flask mail in it

[2021-03-16 04:40] VishvamPorwal opened #25 "Error in Signup"
### Expected Behavior

There should not be an error while signing up, to resolve this in the signup form we have to add two more input fields location and age and insert them in database as well by requesting two more variables from form.

### Current Behavior

When we are signing up there is an error popping up because User table has 5 columns and we are inserting only three of them leaving the o

[2021-03-16 04:41] VishvamPorwal commented on #25
Also kindly label this issue as GSSOC21 as well.

[2021-03-16 05:31] VishvamPorwal commented on #21
added this feature but another error popped up so I have to resolve that first.

[2021-03-16 10:36] VishvamPorwal commented on #25
@vikasdo sir I have made the necessary changes as told by you and force pushed the repo( .venv files issue ) but

, this is stopping me from create a pull request in an conventional way it says (https://stackoverflow.com/questions/54750229/remove-virtualenv-files-from-all-previous-commits-after-removing-from-repository) here that you have to force pull it (https://github.com/VishvamPorwal/Book-Rec

[2021-03-16 10:52] #5 closed

[2021-03-16 13:28] VishvamPorwal commented on #25
@vikasdo sir since you fixed this issue and refactored the whole codebase should I delete the previously forked repo and make new pull requests for issue#21 ??

[2021-03-16 13:35] vikasdo commented on #25
Yes

On Tue, 16 Mar 2021, 18:58 VishvamPorwal, ***@***.***> wrote:

[2021-03-16 14:54] VishvamPorwal commented on #25
Learned many things from this issue today.
Thank you @vikasdo sir

[2021-03-16 14:54] #25 closed

[2021-03-16 15:16] Debashish-hub opened #29 "Add a scroll back to top button"
### Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

Hello!
I am a GSSOC'21 participant. I would like to add a scroll back to top button in the

[2021-03-16 15:19] vikasdo commented on #29
Create a issue and then I will assign

On Tue, 16 Mar 2021, 20:46 Debashish kumar sahoo, ***@***.***>
wrote:

[2021-03-16 15:24] VishvamPorwal commented on #22
Should I wait until you merge(hopefully)/ close my previous pull request to generate pull request for this one.

[2021-03-16 15:24] Debashish-hub opened #31 "Scroll back to top button"
### Prerequisites

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I am running the latest version
- [x] I checked the documentation and found no answer
- [x] I checked to make sure that this issue has not already been filed

### Expected Behavior

There will be a scroll back to top button which will take directly

[2021-03-16 15:24] #29 closed

[2021-03-17 10:01] Nishayadav-bit commented on #21
Hello, please assign this issue to me

[2021-03-17 15:17] rajeshpanjiyar opened #32 "add contributors section in readme"
The ***contributors*** section is the best part of any readme. This issue is to add the contributor's section in the readme. It will add contributors' names automatically so no need to update this issue from time to time.
I am a participant in **GSSoC'21**. I request you to assign me this issue so that I can start working.

[2021-03-17 15:33] ASHISH-GITHUB2495 opened #33 "We can add "Get in touch section" in the footer."
**Features that we can add**
We can have a footer with Get in touch section ... you have option to fill name, email and message which will go directly to the admin.
Like the screenshot i have attach ...
if you like the idea I would like to contribute as GSSOC'21 participant.

**Screenshot**
![Screenshot (15)](https://user-images.githubusercontent.com/57385079/111494145-3d4f0400-8764-11eb-9b7d-7dc8

[2021-03-17 16:35] #23 closed

[2021-03-18 04:31] ASHISH-GITHUB2495 commented on #33
Thank You .. for assigning me for this task ... i will start to work on it from today..

[2021-03-18 05:52] ASHISH-GITHUB2495 commented on #33
Sorry sir... there is mistake I thought this project is mern based ...

[2021-03-18 05:52] #33 closed

[2021-03-18 15:18] VishvamPorwal opened #35 "database related error"
### **Describe the bug:**
sqlite3 operationalerror no such table orderlist - so basically what is happening is there is a table missing from the database which technically is not "created" yet.

### **To Reproduce:**
Steps to reproduce the behavior:
Just try logging in.

### **Expected behavior:**
There should be a table of orderlist

### **Screenshots:**
![Screenshot_20210318_204417](https://user

[2021-03-19 05:52] Subhangini commented on #4
![S1](https://user-images.githubusercontent.com/68437435/111737096-fcaad400-88a4-11eb-94de-ec5c92bf17a2.png)
I was talking about this part. This is missing in your repo. I tried to create PR for this but I think this can not be added through a PR. this can only be added by Project Admin.

[2021-03-19 08:01] VishvamPorwal commented on #35
@vikasdo sir you also have to give a level label along with gssoc otherwise no points are added. Please add level label as well.
Thanks

[2021-03-20 08:22] #35 closed

[2021-03-20 08:25] Akshay6890 commented on #31
Hey deabashish, you can just add the scroll top option.

[2021-03-20 08:27] Akshay6890 commented on #14
I see the problem but that's a google generated QR, so there shouldn't be any problem.

[2021-03-20 08:28] Akshay6890 commented on #4
Ok, you can send me the description, I will add it.

[2021-03-20 08:33] subhangi2731 commented on #20
can you please assign this to me. I want to work on this

[2021-03-20 08:33] Subhangini commented on #4
ok

[2021-03-20 08:34] Subhangini commented on #4
The E-commerce Industry is rising day by day .So for this we need a Efficient E-commerce Recommendation system . So I this Project We Try to make a recommendation system which will recommend the Items to Authors,Publishers and Retailers in such a way so that they will get a personalized Feed back from user reviews.  Retailer gets more profit By Understanding the customer and focusing on their purc

[2021-03-20 08:38] Subhangini commented on #14
Don't know  what's the problem is . Now i think QR is deleted from Readme. :)

[2021-03-20 08:47] #32 closed

[2021-03-20 09:52] VishvamPorwal commented on #22
please assign a level to this as well.

[2021-03-20 09:57] Akshay6890 commented on #14
I will add the QR

[2021-03-20 10:06] VishvamPorwal commented on #15
I think we need to first deploy the website to create a heat map, have you already deployed it @vikasdo sir?

[2021-03-20 10:09] vikasdo commented on #15
I don't know about it but @John Doe ***@***.***>  has
deployed it please get link from him

On Sat, 20 Mar 2021, 15:37 Vishvam Porwal, ***@***.***> wrote:

[2021-03-20 10:10] vikasdo commented on #15
akshay

On Sat, 20 Mar 2021, 15:39 Vikas D, ***@***.***> wrote:

[2021-03-20 10:10] vikasdo commented on #15
https://booklystore.herokuapp.com/login

On Sat, 20 Mar 2021, 15:39 Vikas D, ***@***.***> wrote:

[2021-03-20 10:38] VishvamPorwal commented on #15
I would like to work on this issue but I dont think it would be fair to either anam or shubhangini as they requested to work on this before I did.

[2021-03-20 13:47] Akshay6890 commented on #20
ok I assigned you the task, make it better 😊

[2021-03-20 14:15] vikasdo commented on #4
added description in about section

[2021-03-20 14:27] Subhangini commented on #4
Now you can close this issue :)

[2021-03-20 14:28] #13 closed

[2021-03-20 14:29] Subhangini commented on #14
QR code is still not working . should i try creating a new QR for the website?

[2021-03-20 14:30] vikasdo opened #39 "Make an author dashboard with separate dB for author"
Make author dashboard so author can select their books and ratings

[2021-03-20 14:31] vikasdo commented on #14
Remove QR it works better for me

On Sat, 20 Mar 2021, 20:00 Coder_Subhangini, ***@***.***>
wrote:

[2021-03-20 14:38] Subhangini commented on #14
Don't know why its not working for me . I tried it using online QR code scanner but its not working .Should I delete the QR from readme

[2021-03-21 04:55] #4 closed

[2021-03-21 09:48] VishvamPorwal commented on #39
Sir, I would like to work on this feature, Please assign this issue to me.
Also can you give me some detailed specifications, Is it just viewing ratings of the his books and adding more books that he wrote in the db.

[2021-03-21 09:55] vikasdo commented on #39
Author need to know about his book ratings and analysis like top 5 rated books
1. How many user have reviewed it
2. Use books ,users table to find analytics like that
3. Ex : which age user is liking books written by author
4. Their location

[2021-03-21 09:56] vikasdo commented on #39
It should give him a complete analysis and you can add the things whatever you wish but it should be a valid one.

[2021-03-21 09:57] vikasdo commented on #39
What are the best top 5 reviews positive and negative for an author .

[2021-03-21 13:29] arpit456jain opened #40 "Gsoc'21 Bug in Login/Signup System"
### **Describe the bug:**
There is a very crucial bug in login/Signup system because when i clicked on login without signing up even without entering anything , both field empty I got Login Successful which is very wrong It should give me a message to fill the fields
I am attaching a video for better understanding my issue.

https://user-images.githubusercontent.com/55352601/111906637-71ce0300-8a7

[2021-03-21 15:47] arpit456jain commented on #40
@VamsiMudaliar sir please review it and please add GSSoC'21 label and please assign it to me, i am GSSoC'21 participant

[2021-03-22 02:39] #22 closed

[2021-03-22 14:06] Meghana-12 commented on #8
Hey, Can I work on this issue?

[2021-03-22 14:52] vikasdo commented on #8
Yes

On Mon, 22 Mar 2021, 19:36 Meghana Varanasi, ***@***.***>
wrote:

[2021-03-22 15:55] ManavArora26 opened #41 "Night Mode UI"
### **Feature request**:
I want to add night mode in the application using toggle switch

### **Is your feature request related to a problem? Please describe. (optional)**:
Helping to reduce eye strain

### **Describe the solution you'd like**:
 I would like to add the toggle switch so the user can switch from light to dark and vice versa

### **Describe alternatives you've considered**:
Rather th

[2021-03-22 16:05] Akshay6890 commented on #40
Arpit, go ahead with the working of issue

[2021-03-22 16:35] ManavArora26 commented on #41
Thank You for assigning me

[2021-03-23 17:07] Subhangini commented on #14
what I have to do, remove the QR from README or Work on QR??

[2021-03-23 17:17] arpit456jain commented on #40
@Akshay6890  Sir I had Solved this issue of form validation may i Create a PR?

[2021-03-23 19:01] arpit456jain commented on #40
@Akshay6890 sir Please review my PR #46

[2021-03-24 05:27] #40 closed

[2021-03-24 05:28] Akshay6890 commented on #14
let the QR be there!

[2021-03-24 05:28] #14 closed

[2021-03-24 05:54] Akshay6890 opened #48 "fix login/ signup issue"
### **Describe the bug:**
A clear and concise description of what the bug is.

### **To Reproduce:**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See an error

### **Expected behavior:**
A clear and concise description of what you expected to happen.

### **Screenshots:**
If applicable, add screenshots to help explain your problem.

### **Additiona

[2021-03-24 06:44] ManavArora26 opened #49 "New Logo style"
### **Feature request**:
A new logo for Book.ly

### **Is your feature request related to a problem? Please describe. (optional)**:
Changing the old logo to something new and exciting

### **Describe the solution you'd like**:
I have made 2-3 new logos for Book.ly to be placed and checked for website and readme

### **Describe alternatives you've considered**:
There are 2-3 different ones , if you

[2021-03-24 06:46] arpit456jain commented on #48
Sir please assign it to me

[2021-03-24 06:47] arpit456jain commented on #48
sir my code is still present in main code.
<img width="960" alt="p1" src="https://user-images.githubusercontent.com/55352601/112267023-d87f3680-8c9a-11eb-8d36-a0f9a73d4c5b.png">
<img width="960" alt="p2" src="https://user-images.githubusercontent.com/55352601/112267033-da48fa00-8c9a-11eb-8e8c-b380306a74d0.png">

[2021-03-24 06:47] Akshay6890 commented on #49
Sorry, but these are not quite interesting. if you can come up with something good, we can see.

Note: this will be not included as a part of GSSOC 21.

[2021-03-24 06:47] arpit456jain commented on #48
I am not able to create a new pull request as there was no change..

[2021-03-24 06:50] Akshay6890 commented on #48
try to add comments, in all the files which you changes earlier

[2021-03-24 06:52] arpit456jain commented on #48
ok sir. Please assign me this issue

[2021-03-24 07:16] arpit456jain commented on #48
Yes sir I had added comments in all three files where i made changes earlier .
Please assign me this issue so i can create a PR.

[2021-03-24 07:30] Akshay6890 commented on #48
Done, arpit.

[2021-03-24 07:38] arpit456jain commented on #48
thank you sir
PR has been created please review it and please add labels of gssoc'21

[2021-03-24 07:59] #48 closed

[2021-03-25 13:05] Meghana-12 commented on #8
Thanks for assigning it to me! Could you describe the issue in more detail?

[2021-03-25 14:14] vikasdo commented on #8
Make a view  so that while login make login as retailer and show their
dashboard
For retailer: show their published books
For authors: show their book written
And add metrics which can be added for those role

On Thu, 25 Mar 2021, 18:36 Meghana Varanasi, ***@***.***>
wrote:

[2021-03-26 15:14] VishvamPorwal commented on #39
So sorry for the delay sir, College is eating up every ounce of time I have but I have started working on it.
Also I just wanted to ask if it was ok if I used [canvasjs.com](url) canvasjs's api to plot some relevant graphs.

[2021-03-26 15:30] VishvamPorwal opened #52 "Use of location api instead of manually letting users enter location."
### **Feature request**:

I am proposing to add an ip address based location api to store location data instead of letting users writing them by hand.

### **Is your feature request related to a problem?**:

When users are manually entering their info they are using their own way to describe it.
Hence it is hard to use it meaningfully and easily in various places like dashboards.

### **Describe t

[2021-03-26 15:38] TrojanTarun commented on #20
Can I work on this issue.

[2021-03-26 15:41] VishvamPorwal commented on #39
One more thing, how will the author be able to access this page should I create a signup route for him as well if yes they how will we link and verify them with the books table. I am open to any advice that you can give me.
Thank you sir

[2021-03-26 16:29] aishux opened #53 "Contact page missing"
I want to add a contact page to the project with all details! Please assign me this with a **GSSOC** tag!

[2021-03-26 17:22] Meghana-12 commented on #8
okay, sure! Is there a UI design I need to follow?

[2021-03-26 17:56] vikasdo commented on #8
Similar to admin or your choice

On Fri, 26 Mar 2021, 22:53 Meghana Varanasi, ***@***.***>
wrote:

[2021-03-27 04:54] Meghana-12 commented on #8
okay

[2021-03-27 09:34] Aayush-hub opened #54 "Add github action to auto label issues"
### **Feature request**:
Add github action to auto label issues with gssoc21 label when contributor asks to work under gssoc21. As it takes time to maintainer to add labels, I can add a script which can auto label issues with GSSOC21 label  whenever contributors asks to work under that label.

[2021-03-28 10:35] vikasdo commented on #54
yes please

[2021-03-28 15:07] #15 closed

[2021-03-28 18:21] Nikita0509 commented on #53
I'm a GSSOC'21 participant can i work on this issue

[2021-03-29 07:20] anirudhsai20 opened #58 "Readme file enhancement"
The readme file can be enhanced by adding a list of all the Open Source programs that this project is a part of.

[2021-03-29 07:21] anirudhsai20 commented on #58
Hi @vikasdo. Please assign me this issue under GSSOC.

[2021-03-29 09:08] vikasdo commented on #58
ok sure

[2021-03-29 09:16] vikasdo opened #59 "Deploy Website and Update readme with the link new"
# The website is not working  when it is deployed .

[2021-03-29 18:33] Meghana-12 commented on #8
So should I add a dropdown or something at the register page too?

[2021-03-30 05:09] #54 closed

[2021-03-30 05:14] Akshay6890 commented on #59
don't say it isn't working, you have to specify that, the pickle file doesn't work, and yeah as of now we are using DB.SQLite file to read and write data, we have to make use of a remote SQLite DB.

[2021-03-30 05:17] Akshay6890 commented on #8
if you are working on macOS, the main issue will be with regards to CSS, the attributes for safari and chrome are a bit different, even if you are using chrome make sure that non-safari attributes of CSS are also present, and nothing much :)

[2021-03-30 05:20] Akshay6890 commented on #8
there is no API or anything like that, while registering you can ask whether he is an author or retailer, just like how AWS asks whether you want to login as a root user or IAM user. Hope you get it, and based on login the retailer will be taken to his respective dashboard and the author will be taken to his respective dashboard.

[2021-03-30 05:30] VishvamPorwal commented on #39
@Akshay6890 sir please resolve my query as well

[2021-03-30 11:04] Meghana-12 commented on #8
@Akshay6890 Oh, Okay! Thank you, I'll work on it.

[2021-03-30 15:55] aishux opened #63 "Show password feature"
### **Feature request**:
The login page does not have a show password feature which is very crucial for the user experience.

### **Is your feature request related to a problem? Please describe. (optional)**:
It has an enhancement to improve UX.

### **Describe the solution you'd like**:
I would like to add a feature which can convert password to text and text to password so user can log in smooth

[2021-03-30 15:59] vikasdo commented on #59
Yes you are correct dB.sqlite an python tensorflow,scipy

[2021-03-30 22:38] vikasdo commented on #63
Ok

On Tue, 30 Mar 2021, 23:17 Aishwarya Nathani, ***@***.***>
wrote:

[2021-03-31 07:59] Akshay6890 commented on #63
we can use netlify also

[2021-03-31 12:52] #63 closed

[2021-03-31 16:35] arpit456jain opened #66 "[Gssoc'21] show password button on login and signup"
### **Feature request**:

I want to add a show password button because its very frustrating to remove whole password if by mistake any wrong key got pressed.

### **Is your feature request related to a problem? Please describe. (optional)**:
A clear and concise description of what the problem is.

### **Describe the solution you'd like**:
A clear and concise description of what you want to happen.

[2021-03-31 16:46] arpit456jain opened #67 "[Gssoc'21] Bug in contact Us"
### **Describe the bug:**
There is s bug in contact us page please watch this video.

https://user-images.githubusercontent.com/55352601/113180497-6b593b80-926e-11eb-86a7-0fc20f3d9f9b.mp4

As you can see any one can overload the server by clicking submitting repetitively.
Also there are no success/error messgage.
### **To Reproduce:**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '..

[2021-03-31 16:49] arpit456jain commented on #67
@Akshay6890 Kindly assign me this issue .

[2021-04-01 08:46] Akshay6890 commented on #66
Sorry, this issue has already been already worked on.

[2021-04-01 08:46] #66 closed

[2021-04-01 08:49] Akshay6890 commented on #67
You can work on this and make sure to add a link just like login/ signup for the contact page in header.html file, if you have any trouble in understanding, message me back.

[2021-04-01 13:11] arpit456jain commented on #67
@Akshay6890 can you please guide me what's the use of this.
<img width="960" alt="Untitled2" src="https://user-images.githubusercontent.com/55352601/113298749-c6943800-9319-11eb-8c02-b153d93a8bb8.png">
because of this internal server error is occurring. Please check video which will be in next cmnt

[2021-04-01 13:32] arpit456jain commented on #67
@Akshay6890 kindly watch this video very care fully Its a very crucial bug that I have just found

https://user-images.githubusercontent.com/55352601/113301149-533ff580-931c-11eb-965f-a5a27a310c74.mp4

[2021-04-01 20:44] VishvamPorwal commented on #59
Can you refer me a tutorial on how to do so, I am having trouble doing it.

[2021-04-02 05:46] vikasdo commented on #59
https://eman-diab5010.medium.com/how-to-deploy-flask-app-on-heroku-step-by-step-38b8044f86f4

[2021-04-02 08:01] VishvamPorwal commented on #59
@vikasdo sir I did exactly the same when I deployed the website last time but for some reason database is not being imported on heroku server, also every time I open the website it almost starts from the beginning, doesn't matter if you have already signed up you have to do it again. Same goes with  the books table, all the data of books is somehow unavailable to the server although the names are

[2021-04-02 08:30] #52 closed

[2021-04-02 08:31] vikasdo commented on #59
@VishvamPorwal  start with basic app and then do our app that's what I told

[2021-04-02 11:10] arpit456jain commented on #67
@Akshay6890 What should i do ?? Can I remove that line if it is not necessary??

[2021-04-02 11:29] Akshay6890 commented on #67
include the following line just below the method declaration
@login_required

[2021-04-02 11:34] Akshay6890 commented on #59
you can use database plugins provided by heroku

[2021-04-02 11:37] arpit456jain commented on #67
@Akshay6890 but  that means only logged in members can access contact page.
Don't you think contact us page should be open to all no matter they login or not , just a suggestion.

For now I had added the login required.

[2021-04-02 11:41] Akshay6890 commented on #67
yes, I referred the same to the participant who worked on this to add it simply in the header page, so that it does not matter whether you are logged in or not, if you want to work on this issue, raise a issue and I will assign you.

[2021-04-02 11:48] arpit456jain commented on #67
ok @Akshay6890 let me solve the bug in contact form only in this issue , I am going to create a new issue for this that right now

[2021-04-02 13:13] arpit456jain opened #70 "[Gssoc'21] Contact page not accessible for all"
### **Describe the bug:**
The Contact page is not accessible for all .
It can be access only after login which is not good.
I want to make it accessible for all no matter they login or not.

### **To Reproduce:**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See an error

### **Expected behavior:**
A clear and concise description of what you expecte

[2021-04-02 13:15] arpit456jain commented on #67
@Akshay6890 Kindly review my PR #69  and assign me the new issue #70  for making contact page available for all .

[2021-04-03 12:28] VishvamPorwal opened #71 "Bug in Database even before deployment"
### **Describe the bug:**

Well this is just what my thoughts are on this issue
So basically book_recommendation feature is querying the database for something and it is returning none, but I could be wrong.

### **To Reproduce:**
Shown in the video

### **Proposed Solution**

Just add a try except block on it, I am even unsure if that will resolve the issue. I am just starting to understand few p

[2021-04-03 13:33] VishvamPorwal commented on #39
this is an example :

https://user-images.githubusercontent.com/59139142/113479853-f3c61f00-94ae-11eb-97f6-7c6f7f7360a7.mp4

@vikasdo sir and @Akshay6890 sir this what I have done up till now
Now can you tell me 2 things:
1. How will author be able to access this page (I have just putted in name to search)
2. what other features should I add

[2021-04-03 13:47] vikasdo commented on #39
you can implement a feture while login ->login as user ,login as author,  and show only book images with title  when he click on them

[2021-04-03 13:49] VishvamPorwal commented on #39
how will we verify the login credentials with the authors in books table

[2021-04-03 13:50] vikasdo commented on #39
@VishvamPorwal  and add metrics like

1.  what are  TOP 5 rated books?
2. A pie chart of user proportion by age or gender ?

[2021-04-03 13:51] vikasdo commented on #39
yes you can create a separate table and add default password for all of them as of now

[2021-04-03 13:52] vikasdo commented on #39
You can see reference of user dashboard of our project

[2021-04-03 13:54] VishvamPorwal commented on #39
all of them there are literally 100's of entries in books and even if i were to create another table for authors I will still have to connect every entry of books with a foreign key to the author table

[2021-04-03 13:57] VishvamPorwal commented on #39
we are not taking gender at the time of signup but I can do everything else for sure

[2021-04-03 14:02] vikasdo commented on #39
Gender of user I mean not author

[2021-04-03 14:03] vikasdo commented on #39
You can take user who has rated the books of author and segregate the user

[2021-04-03 14:05] VishvamPorwal commented on #39
![Screenshot_20210403_193516](https://user-images.githubusercontent.com/59139142/113480779-c039c380-94b3-11eb-8a15-572ee5dd840d.png)
Yes I am talking about user as well

[2021-04-03 14:06] VishvamPorwal commented on #39
do you want me to add gender as well??

[2021-04-03 14:07] VishvamPorwal commented on #39
In the database I mean at the time of user signup

[2021-04-03 14:28] vikasdo commented on #39
If you want to show metrics on gender  you can add

[2021-04-03 15:24] vikasdo commented on #71
@VishvamPorwal  https://github.com/vikasdo/Book-Recommendation-Analysis/blob/main/README.md#install-git-lfs--referrences

[2021-04-03 15:57] VishvamPorwal commented on #71
![Screenshot_20210403_212451](https://user-images.githubusercontent.com/59139142/113483834-0c403480-94c3-11eb-8659-e244a02c695f.png)
I guess I figured out whats wrong in this ss you can see it says user id should be from that list but that list is not being updated when someone registers as my current user id is 38284 and it is not in the given list.

[2021-04-03 15:59] VishvamPorwal commented on #71
![Screenshot_20210403_212812](https://user-images.githubusercontent.com/59139142/113483949-82dd3200-94c3-11eb-80f8-4bdf9ef25eb5.png)
even in deployment when I am logging in from one of the user from the list it is not giving internal server error

[2021-04-03 16:05] Akshay6890 commented on #71
the thing is all of the model data is stored in a pickle file which you can see at the root level of our project, while in deployment that pickle file doesn't work properly, we need to figure out a remote solution (remote access just like remote db) to access the pickle file to perform CRUD operations.

[2021-04-03 16:05] VishvamPorwal commented on #71
@vikasdo sir, how should i update the user id list

[2021-04-03 16:08] VishvamPorwal commented on #71
okay

[2021-04-03 17:12] #67 closed

[2021-04-03 18:36] arpit456jain commented on #70
@Akshay6890 and @vikasdo sir this issue is very crucial , complicated and time taking.

Actually  in this project the template inheritance  is used in a very very wrong way .
I don't know I am able to explain it or.
But I will try it at my best and make a video for that .

[2021-04-03 18:55] arpit456jain commented on #70
https://youtu.be/pXfeo2jRico
the video size was very large for uploading it here so upload it on you tube kindly watch it.

[2021-04-04 06:16] Akshay6890 commented on #70
in the header.html, include the contact link under the unauthenticated and non-authenticated section.  Hope this is clear.

[2021-04-04 06:46] arpit456jain commented on #70
@Akshay6890 I understand what you want I already done that.
<img width="960" alt="p4" src="https://user-images.githubusercontent.com/55352601/113500802-aabdab80-953e-11eb-8f42-90093ada3f28.png">

but try to understand the problem in contact page.
Let me try again to explain
As you know contact page extends the header.html
<img width="960" alt="22" src="https://user-images.githubusercontent.com/553

[2021-04-04 07:16] arpit456jain commented on #70
@vikasdo @Akshay6890  kindly review my PR

[2021-04-04 07:58] vikasdo commented on #71
@VishvamPorwal  can you writr a script https://github.com/vikasdo/Book-Recommendation-Analysis/blob/main/bookstore/client/automationofcsvtosqlite.py
but of reverse functionality where all db.sqlite  table  is stored in pkl format

[2021-04-04 08:38] #70 closed

[2021-04-04 10:34] VishvamPorwal commented on #71
[automate_sqlite_to_pickle.pdf](https://github.com/vikasdo/Book-Recommendation-Analysis/files/6254353/automate_sqlite_to_pickle.pdf)

@vikasdo  sir this is the first time I have used pickle and read_sql so please can you check is that what you meant, and if I am on the right path then should i create different pickle file for each table or just dump them all in one pickle file.

[2021-04-04 10:55] vikasdo commented on #71
Yes what you did was write and make sure 2hil dumping the rows they are not
written more than once ,and dump to same pickle

On Sun, 4 Apr 2021, 16:04 Vishvam Porwal, ***@***.***> wrote:

[2021-04-04 11:05] VishvamPorwal commented on #71
if you don't mind me asking, can you tell me why are we doing this sir.

[2021-04-04 12:18] VishvamPorwal commented on #71
as it turns out one cannot save all the tables in one pickle file, either the first one or the last one gets in the pickle file and the rest are just overwritten.
Should I put them in different files named by the name of the respective table.

[Untitled2.pdf](https://github.com/vikasdo/Book-Recommendation-Analysis/files/6254503/Untitled2.pdf)

[Untitled1.pdf](https://github.com/vikasdo/Book-Recomm

[2021-04-05 07:07] Akshay6890 opened #73 "Fields in contact form are not responding to typing."
### **Describe the bug:**
Name, email, and phone number fields are not allowing text

### **To Reproduce:**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See an error

### **Expected behavior:**
we should be able to type in the text.

### **Screenshots:**
![image](https://user-images.githubusercontent.com/47181903/113547531-b88d3280-960b-11eb-9bac-3

[2021-04-05 07:15] Akshay6890 opened #74 "Shopping cart bug."
### **Describe the bug:**
when you login and browse through the store you see that there is a new item being added to cart which is not visible.

### **Expected behavior:**
if user has any items added in the cart they should stay in the cart until user checks out, the items should also be present in the cart even when user logs in or logs out unless he checks them out.

### **Screenshots:**
![imag

[2021-04-05 08:58] vikasdo commented on #71
usecase :

see the alogorithm works for it

[2021-04-05 16:32] AshuKV commented on #73
Can I work on this issue under GSSOC21? Kindly assign it to me.

[2021-04-06 08:30] Akshay6890 commented on #73
Sure, why not?

[2021-04-08 12:19] arpit456jain commented on #31
@Akshay6890 can i work on this issue ? its been more than 15 days there is no update.

[2021-04-08 12:23] arpit456jain opened #75 "[Gssoc'21] Making Contact us page more attractive"
### **Feature request**:
I want to try to make contact page more attractive and cool

[2021-04-08 13:08] Akshay6890 commented on #75
ok

[2021-04-08 13:10] Akshay6890 commented on #31
Will see for 3 more days, and then assign it to you if there's no progress.

[2021-04-08 13:14] arpit456jain commented on #31
ok

[2021-04-08 13:37] arpit456jain commented on #75
<img width="960" alt="whgvi" src="https://user-images.githubusercontent.com/55352601/114036333-9ca0bf80-989d-11eb-8cd1-d49c92219ea8.png">

@Akshay6890 how this??

[2021-04-08 13:49] arpit456jain commented on #75
<img width="960" alt="cfklsadnlcvlksbjkvsd" src="https://user-images.githubusercontent.com/55352601/114038185-459bea00-989f-11eb-971c-4678cc6cd725.png">

[2021-04-08 14:47] Akshay6890 commented on #75
this looks great, but change the theme color of the button and illustration. Good Job!

[2021-04-08 14:58] arpit456jain commented on #75
@Akshay6890 in which color do you want it?

[2021-04-08 15:11] arpit456jain commented on #75
<img width="960" alt="kitabe" src="https://user-images.githubusercontent.com/55352601/114051584-d5936100-98aa-11eb-9a97-5d3d233e09d7.png">

[2021-04-08 15:24] Akshay6890 commented on #75
use previous style and colors only, don't make changes, looks cool.

[2021-04-08 15:24] Akshay6890 commented on #75
finalize this, we will see changes later

[2021-04-08 15:27] arpit456jain commented on #75
Ok @Akshay6890 i will create a PR in some time kindly add suitable labels on PR.
As on  last 2 PR s i got level 1 only white there was labels of level 2 on issue 😅

[2021-04-08 15:48] #75 closed

[2021-04-08 15:51] arpit456jain commented on #75
@Akshay6890 what happens ?? you close the issue !! why ? the PR is not merged yet!!

[2021-04-08 16:25] arpit456jain opened #77 "[Gssoc'21] Adding a 404 page"
### **Feature request**:
I want to add a 404 page in the website as it currently look like this.

<img width="950" alt="p11" src="https://user-images.githubusercontent.com/55352601/114062438-260fbc00-98b5-11eb-926b-415f8d877ab2.png">

[2021-04-08 16:54] vikasdo commented on #8
@Meghana-12  what's the update

[2021-04-09 05:29] arpit456jain commented on #77
https://user-images.githubusercontent.com/55352601/114132757-956fc500-9922-11eb-87d6-98946db90ec2.mp4

how's this ??

[2021-04-09 05:30] arpit456jain commented on #77
may I create a PR for this ?

[2021-04-09 06:03] vikasdo commented on #77
Ok you can create a PR

On Fri, 9 Apr 2021, 11:00 111arpit1, ***@***.***> wrote:

[2021-04-09 06:04] arpit456jain commented on #77
Ok

[2021-04-09 11:43] #77 closed

[2021-04-10 05:16] #39 closed

[2021-04-12 17:13] ankit-kmar opened #83 "Welcome Bot"
This bot basically greets someone who opens up an issue or makes a pr for the first time in the repo and also when the pr gets merged.

Here is the greetings that I'll use:

Someone opens a new issue:

Hi @_user!

Thanks for opening a new issue to this repo! Don't forget to go through our Code of Conduct and Contributing Guidelines, and wait until you get assigned by one of our maintainers to work

[2021-04-13 16:42] fazer1929 commented on #74
I'd like to work on this issue. Shall I go ahead?

[2021-04-14 13:04] Akshay6890 commented on #74
Yea, sure.

[2021-04-14 13:09] Akshay6890 commented on #83
You can work on this, no issues, but we can't give this a "level" label as it does not contribute to the product (project) . If this is ok, then you can go ahead. We do not stop anyone to use their creativity, we give everyone a fair chance to present their ideas, but in this "issue" we are sorry.

[2021-04-14 14:01] ankit-kmar commented on #83
Pls add the gssoc and level tag also.

[2021-04-14 22:04] arpit456jain opened #84 "Check if email is already registered or not without submitting the form"
### **Feature request**:

I would like to add a functionality such that it will tell user that this email is already registered while entering email without submitting the form.

### **Is your feature request related to a problem? Please describe. (optional)**:
A clear and concise description of what the problem is.

### **Describe the solution you'd like**:
A clear and concise description of what

[2021-04-15 12:30] JanhaviSoni opened #85 "Adding Tech Stack"
### **Feature request**:
Adding tech stack to Readme

### **Is your feature request related to a problem? Please describe. (optional)**:
A clear and concise description of what the problem is.

### **Describe the solution you'd like**:
Adding techstack section to Readme
Jupyter Notebook/ Google Colab / PySpark

Front End : HTML / CSS / JavaScript

Back End : MongoDB / Flask

Python version 3.0 or

[2021-04-16 10:38] arpit456jain opened #86 "[Gssoc'21] Add a confirmation before logout"
### **Feature request**:
I would like to add a confirmation alert after clicking on logout.

### **Is your feature request related to a problem? Please describe. (optional)**:
user can click on logout by mistake.

### **Describe the solution you'd like**:
I am thinking to add a sweet alert like this
<img width="361" alt="sweet alert" src="https://user-images.githubusercontent.com/55352601/11501292

[2021-04-16 10:40] arpit456jain commented on #86
in the place of ok there will be yes logout and in text "Are you sure"

"you want to logout"

@Akshay6890 @vikasdo kindly assign me this issue under gssoc

[2021-04-16 11:03] arpit456jain opened #87 "[Gssoc'21] Password Validations in front-end"
### **Feature request**:

I would like to add these 4 validations in front-end in sign up page
1. one lowercase letter
2. one uppercase letter
3. one number
4. min 8 char

it will look some thing like this
<img width="922" alt="pass validation" src="https://user-images.githubusercontent.com/55352601/115015666-a5af1380-9ed1-11eb-9b91-b17fc232082b.png">

[2021-04-16 11:09] arpit456jain commented on #31
@Akshay6890 kindly assign this to me its been 8 days

[2021-04-17 13:45] arpit456jain commented on #31
@vikasdo @Akshay6890 kindly review my PR

[2021-04-17 13:45] JanhaviSoni commented on #85
@vikasdo can I work on this issue

[2021-04-17 16:10] srisatya1197 opened #90 "I want to add no.of pr's, issues, stars and other in the read me file."
I want to add no.of pr's, issues, stars and other in the read me file.
Example:
![ss5](https://user-images.githubusercontent.com/78905067/115119342-80033680-9fc5-11eb-84d9-d4f6ed37474a.png)
I want to work on this . Please assign me this issue @Akshay6890 .

[2021-04-18 09:53] Akshay6890 commented on #83
I guess you did not read my comment. Please read it.

[2021-04-18 09:55] Akshay6890 commented on #84
Sure.

[2021-04-18 10:00] arpit456jain commented on #84
@Akshay6890 kindly review my opened pr

[2021-04-18 10:04] #86 closed

[2021-04-18 10:49] Akshay6890 commented on #71
are you still working on this?

[2021-04-18 10:51] Akshay6890 commented on #20
Are you still working on this?

[2021-04-18 12:05] VishvamPorwal commented on #71
oh yes i thought i completed it long time ago, i guess i forgot to create a pr just give me few minutes

[2021-04-18 14:21] #59 closed

[2021-04-18 14:21] #71 closed

[2021-04-19 05:20] #83 closed

[2021-04-21 06:04] arpit456jain opened #95 "Download All Contact from database as csv file"
### **Feature request**:
Its better if you can Download All Contact from database as csv file instead of going in database

[2021-04-21 06:21] #31 closed

[2021-04-21 07:05] Akshay6890 commented on #95
well only some data can be used, such as profile data, remaining data must be fetched from server, instead of csv, its better we use local storage.

[2021-04-21 07:13] arpit456jain commented on #95
No i mean to say that the admin can download the data as csv of contact table.
There will be lots n lots of data in contact table which will contain name , email  , number, message etc

On click a download button or going to a particular url which i will set a csv file will be download in your system i will try to make a demo video for this.

[2021-04-21 07:15] Akshay6890 commented on #95
Oh ok, go ahead.

[2021-04-21 07:37] arpit456jain commented on #41
@Akshay6890 are you sure its a level 1 issue?

[2021-04-21 07:38] Akshay6890 opened #96 "Create Dark Mode button"
### **Feature request**:
Add a button that can toggle between dark and light mode.

### **Describe the solution you'd like**:
Use the common header file, to place the button to avoid any sort of confusion, and when the user first visits the website is in light mode but when the user clicks on the button the theme changes to dark mode.

### **Describe alternatives you've considered**:
A better user

[2021-04-21 07:41] #41 closed

[2021-04-21 07:43] Akshay6890 commented on #73
are you working on it? if not we have to assign this to others. Please respond.

[2021-04-21 08:56] arpit456jain commented on #95
@vikasdo @Akshay6890 is there any admin panel ??

[2021-04-21 09:00] arpit456jain commented on #95
https://user-images.githubusercontent.com/55352601/115526803-0a8db380-a2ae-11eb-8f5c-fdb77f58c8f0.mp4

[2021-04-21 10:37] vikasdo commented on #95
We have a admin panel /admin

On Wed, 21 Apr 2021, 14:30 111arpit1, ***@***.***> wrote:

[2021-04-21 10:37] vikasdo commented on #95
Can you integrate it on admin dashboard

On Wed, 21 Apr 2021, 16:07 Vikas D, ***@***.***> wrote:

[2021-04-21 10:41] arpit456jain commented on #95
How to login as admin ? Can you give the credintials

[2021-04-21 10:43] arpit456jain commented on #95
@vikasdo are you talking about retailer dashboard?

[2021-04-21 10:56] VishvamPorwal commented on #12
Sir, I would like to work on this issue, its not just about the analytics, there is nothing there in admin.

[2021-04-21 11:06] vikasdo commented on #95
Yes

On Wed, 21 Apr 2021, 16:13 111arpit1, ***@***.***> wrote:

[2021-04-21 11:07] VishvamPorwal commented on #12
but i think this issue coincide with #8 .

[2021-04-21 11:08] vikasdo commented on #12
Ok can you add features separately and see previous chats in issue ,
because assigned person hasn't raised any merge request.

On Wed, 21 Apr 2021, 16:27 Vishvam Porwal, ***@***.***> wrote:

[2021-04-21 11:12] VishvamPorwal commented on #12
sure i can do that
Now do you just want to use flask-admin or build everything from the ground up.

[2021-04-21 11:18] arpit456jain commented on #95
https://user-images.githubusercontent.com/55352601/115545342-51d16f80-a2c1-11eb-861e-cfda5e30b3dc.mp4

[2021-04-21 11:18] arpit456jain commented on #95
@vikasdo is it ok??

[2021-04-21 11:36] vikasdo commented on #12
can you build from scratch itself.

On Wed, 21 Apr 2021 at 16:42, Vishvam Porwal ***@***.***>
wrote:

[2021-04-21 11:38] vikasdo commented on #95
Nice cool, If you have any ideas on contacts service what we can do with
the data please let me know

On Wed, 21 Apr 2021 at 16:48, 111arpit1 ***@***.***> wrote:

[2021-04-21 11:40] #95 closed

[2021-04-21 11:41] VishvamPorwal commented on #12
sure, I can do that. Please give me some time though.

[2021-04-21 11:41] vikasdo commented on #12
take your time, no problem .

[2021-04-21 17:39] mehak6569 commented on #96
Sir,
I want to work on this issue. Please assign it to me.

[2021-04-21 17:41] Tejal18 commented on #20
I wanted to contribute to this issue. please can assign me this issue. Thanks.

[2021-04-22 12:47] Akshay6890 commented on #96
Done. But make sure to use a common header file for placing the toggle.

[2021-04-22 12:48] Akshay6890 commented on #20
Sure go ahead.

[2021-04-22 12:51] #87 closed

[2021-04-22 13:56] mehak6569 commented on #96
Will keep that in mind.
Thank you!

[2021-04-24 05:29] #84 closed

[2021-04-25 09:48] khareyash05 opened #102 "add contributing.md"
Hey! I would like to add the following in contributing.md
1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on it as a part of GSSOC'21

[2021-04-25 14:51] Akshay6890 commented on #102
Ok sure. But after you complete the work you need to put a video showing the work, if everything seems ok then we will accept the PR.

[2021-04-25 14:53] Akshay6890 commented on #8
Are you still working on this?

[2021-04-27 05:08] khareyash05 commented on #102
@Akshay6890 added contributing.md

[2021-04-27 05:11] khareyash05 commented on #102
![image](https://user-images.githubusercontent.com/60147732/116188386-efef8a80-a744-11eb-8c4f-f8f049076368.png)
![image](https://user-images.githubusercontent.com/60147732/116188412-fa118900-a744-11eb-9c8f-e58571de8ee0.png)
![image](https://user-images.githubusercontent.com/60147732/116188439-04cc1e00-a745-11eb-9dd8-99b32db5c7d1.png)
![image](https://user-images.githubusercontent.com/60147732/1161

[2021-04-27 08:50] VishvamPorwal commented on #12
![Screenshot_20210427_141721](https://user-images.githubusercontent.com/59139142/116213308-4d92cf80-a763-11eb-9b14-bff13029d619.png)
I am working on making an admin dashboard like this, there will be more charts, but I want the order date also in the order list table to make this happen, so can i change the schema a little bit and add the date
@vikasdo sir @Akshay6890 sir

[2021-04-27 09:23] Akshay6890 commented on #102
Cool

[2021-04-27 09:24] Akshay6890 commented on #12
yes, go ahead

[2021-04-27 12:13] khareyash05 commented on #102
@Akshay6890 Is my PR ready to merge?

[2021-04-28 14:14] arpit456jain opened #105 "Download books details as csv"
Download books details as csv like this

https://user-images.githubusercontent.com/55352601/116418571-e7d53f00-a859-11eb-8f8f-c2a58e50b48c.mp4

I would like to make a PR for this

[2021-04-29 07:54] Akshay6890 commented on #102
i didn't check. I will see and accept the PR.

[2021-04-29 07:58] Akshay6890 commented on #105
instead of just downloading all the books, it would be good to use filters such as author name, date etc.

[2021-04-29 08:11] arpit456jain commented on #105
Please elaborate a little bit

[2021-04-29 08:20] Akshay6890 commented on #105
When downloading a csv file, you will be having info right? So, instead of directly downloading all the info, we can give admin an option to download only certain info based on some filters such as , admin can select what are the attributes based on which he want to filter data, then in the next step he will provide the values to those attributes, for example, if admin wants books of only a partic

[2021-04-29 08:20] Akshay6890 commented on #105
can u see the filters in image?

[2021-04-29 08:31] arpit456jain commented on #105
currently this is beyond my skills , i can try to it , may be in future i will create a issue for that , but currently not possible for me

[2021-04-29 08:51] Akshay6890 commented on #105
ok

[2021-04-29 08:52] #102 closed

[2021-04-29 08:54] #73 closed

[2021-04-29 08:54] Akshay6890 commented on #105
Create a PR then.

[2021-04-29 11:00] #105 closed

[2021-04-29 18:48] Meghana-12 commented on #8
Hey, sorry about the late reply, I had my exams so couldn't work on it.

[2021-04-30 12:05] Akshay6890 commented on #8
Ok, will you be doing this now? I mean it's ok if you take some more time, but there might others who might wanna work on this. So update me about this.

[2021-05-01 15:40] Meghana-12 commented on #8
I'm still busy with my projects. If there is someone else interested in working on this, please assign it to them. Sorry for the inconvenience.

[2021-05-02 12:54] arpit456jain opened #108 "Project Set Up Step by Step"
I would like to add a link to a video for Step by step process of setting up this project in local system from forking the repo to running it on server.

[2021-05-02 14:29] Akshay6890 commented on #108
In README?

[2021-05-02 14:32] Akshay6890 commented on #74
Hey, fazer are you working on this issue?

[2021-05-02 14:33] #90 closed

[2021-05-02 14:34] arpit456jain commented on #108
yes

[2021-05-02 14:36] arpit456jain commented on #108
<img width="456" alt="read me" src="https://user-images.githubusercontent.com/55352601/116816948-cc33a680-ab81-11eb-9ff3-b81b8354e577.png">

like this

[2021-05-02 15:02] Akshay6890 commented on #108
ok

[2021-05-02 17:36] fazer1929 commented on #74
Hello sorry, got Caught up. I'll do this in 2-3 days for sure.

[2021-05-04 14:07] KajalSinghBAGHEL opened #110 "Update README.md"
remove grammatical mistakes

[2021-05-04 14:08] KajalSinghBAGHEL commented on #110
I am a GSSOC participant. Can I work on this issue?

[2021-05-04 14:15] vikasdo commented on #110
Ok

On Tue, 4 May 2021, 19:38 KajalSinghBAGHEL, ***@***.***>
wrote:

[2021-05-07 17:11] KajalSinghBAGHEL commented on #110
Please check my pull request

[2021-05-09 10:25] Manasi2001 opened #113 "Improve Sign Up Page"
The overall text's style on the page has a lot of variations. I will improve on it and make it look more presentable. Please assign this issue to me.

[2021-05-09 10:31] Manasi2001 opened #114 "Improve Contact Page"
There's some typo on the page. I will correct it. Will also work on the formatting of the text. Please assign it to me.

[2021-05-10 07:16] Manasi2001 commented on #113
Can I please work on this issue @vikasdo?

[2021-05-10 07:17] Manasi2001 commented on #114
@vikasdo can I go ahead with this issue as well?

[2021-05-11 16:37] subhangi2731 commented on #8
please assign me this issue @Akshay6890 I will work on this and give good results

[2021-05-12 09:08] Akshay6890 commented on #8
sure

[2021-05-12 09:12] Akshay6890 commented on #113
ok

[2021-05-12 09:17] Akshay6890 commented on #12
@VishvamPorwal is working on this.

[2021-05-12 10:29] #114 closed

[2021-05-12 10:32] #96 closed

[2021-05-12 11:50] #113 closed

[2021-05-12 17:16] RuchiGitHu opened #117 "Add Favicon in website."
### **Feature request**:
I want to add favicon to website so that when a user try to open multiple tabs, they can find that in which tab this website is opened.

### **Describe the solution you'd like**:
Would like to add favicon.

### **Describe how this feature will be useful to our readers**:
when a user try to open multiple tabs, they can find that in which tab this website is opened.

### **A

[2021-05-12 17:42] chazuttu commented on #96
I am GSSOC'21 Participant. I added a PR for this issue,thanks for merging it.

[2021-05-13 05:04] Akshay6890 commented on #117
Go ahead, I will assign this to you.

[2021-05-14 05:13] #12 closed

[2021-05-14 09:13] arpit456jain opened #120 "Bug And Enhancements in admin login"
### **Describe the bug:**

Bug is wrong use of bootstrap alert its not working properly . when i click on cross its not hiding and its not looking good also
<img width="960" alt="admin2" src="https://user-images.githubusercontent.com/55352601/118249056-9ae0a200-b4c2-11eb-89b5-3f8b86ae1d34.png">

And all labels of username and password is also looking odd because they are in center

[2021-05-14 09:14] arpit456jain commented on #120
There is also one more bug , i can submit without entering anything

[2021-05-14 09:15] arpit456jain commented on #120
I am working on all these bugs and enhancements under this issue

[2021-05-14 09:21] arpit456jain commented on #120
I would like to make a PR for this

https://user-images.githubusercontent.com/55352601/118250239-df207200-b4c3-11eb-95a1-61cf91c2efa0.mp4

[2021-05-14 12:56] arpit456jain commented on #120
@vikasdo @Akshay6890 can I make a PR for this

[2021-05-15 11:08] Akshay6890 commented on #120
Ok

[2021-05-15 11:10] #117 closed

[2021-05-15 11:10] arpit456jain commented on #120
Ok making the PR in 2 mins

[2021-05-15 11:16] arpit456jain commented on #120
@Akshay6890 kindly review the PR and add these labels to it

[2021-05-15 11:19] Akshay6890 commented on #120
sure

[2021-05-16 04:22] #120 closed

[2021-05-17 05:24] Akshay6890 commented on #8
Admin page has been already done.

[2021-05-17 05:25] Akshay6890 commented on #74
fazer, any update regarding the work?

[2021-05-17 05:26] Akshay6890 commented on #85
Hi, @JanhaviSoni any update regarding the work?

[2021-05-17 05:27] Akshay6890 commented on #20
Hi, @Tejal18 any update on this issue?

[2021-05-17 05:28] #110 closed

[2021-05-17 05:30] Akshay6890 commented on #108
Hi, @arpit456jain you working on this?

[2021-05-17 05:32] arpit456jain commented on #108
Yes @Akshay6890 will create a PR by end of the day

[2021-05-17 05:36] Akshay6890 commented on #108
Ok.

[2021-05-17 05:38] vikasdo commented on #85
Yes

On Mon, 17 May 2021, 10:57 Pendyala Akshay, ***@***.***>
wrote:

[2021-05-17 10:22] arpit456jain commented on #108
hey @Akshay6890 Is the dark mode added ??
I am not able to see any toggle button and the issue is also closed

[2021-05-17 10:40] JanhaviSoni commented on #85
@vikasdo  Please check the PR

[2021-05-17 10:40] arpit456jain commented on #108
this is video
https://drive.google.com/file/d/1iGm91RjynDkhe54Hz8AZTPAM1fMYmEkw/view?usp=sharing

check it once if its ok or not

[2021-05-18 06:39] Akshay6890 commented on #108
Everything looked ok but few changes
1. Change the username from arpit456jain to vikasdo in git clone url
2. make sure to not to encounter any mistakes during setup, as from the video I observed you ran the requirements.txt two times, so that might lead to confusion.

My suggestion would be to make a new video with the above changes in place. I guess it won't be a problem for you.

[2021-05-18 06:40] Akshay6890 commented on #85
You have to open PR in @vikasdo project repository.

[2021-05-18 17:42] #85 closed

[2021-05-21 13:43] arpit456jain opened #123 "dark mode"
dark mode to website

[2021-05-21 13:45] arpit456jain commented on #108
ok will try.

[2021-05-26 15:16] arpit456jain commented on #123
@Akshay6890 can you give me lvl3 for this issue

[2021-05-26 15:44] Akshay6890 commented on #123
Well, the levels are given to PR's based on the issue's importance and the amount of work done, hope you understood.

[2021-05-26 16:09] arpit456jain commented on #123
but dark mode is a very big issue .
adding toggle button then adding js for it then writing css for every page in dark mode .

I got level3 in every project in which i added this feature and currently i am working on lvl3 issue first then lvl2 and then lvl1

[2021-05-27 14:48] Akshay6890 commented on #123
Ok then.

[2021-05-28 06:13] #123 closed

[2021-05-28 10:21] arpit456jain opened #125 "Adding dark mode to Admin Dashboard"
Adding dark mode to Admin Dashboard

[2021-05-28 10:30] arpit456jain opened #127 "bug in navbar in small screen"
there is not navbar toggle button for small screen in admin dashboard like we have on other pages

[2021-05-29 20:53] arpit456jain opened #128 "Security feature email alert"
A email alert to me if someone else is trying to login to my account

[2021-05-30 05:06] vikasdo commented on #128
You can work on this issue

On Sun, 30 May 2021, 02:24 github-actions[bot], ***@***.***>
wrote:

[2021-05-30 06:52] arpit456jain commented on #128
@vikasdo @Akshay6890 what will be the level

[2021-05-30 09:38] #125 closed

[2021-05-30 09:39] Akshay6890 commented on #128
level3, of course, because it's a feature of high priority.

[2021-05-30 13:42] Supriyo-455 commented on #74
@Akshay6890 Hey I want to work on this issue please assign it to me. And also I noticed that when I check out the items from the cart the transaction history remained unchanged and sometimes the details of the items are not visible in the cart.

[2021-05-30 13:59] Supriyo-455 opened #131 "No updates in transaction history"
### **The bug:**
When the user items to the cart and proceed to checkout the transaction history remains the same.
### **To Reproduce:**
Steps to reproduce the behavior:
1. Add item to the cart
2. click on the cart
3. click on proceed to checkout
4. now check the user's profile
5. no transactions in the user's profile

### **Expected behavior:**
Should display the detail of the items that were che

[2021-05-30 14:00] Akshay6890 commented on #74
ok

[2021-05-30 15:51] #127 closed

[2021-05-30 15:54] Akshay6890 commented on #131
You may work on this.

[2021-05-30 15:58] #128 closed

[2021-05-30 16:02] Akshay6890 commented on #20
Hi, @Tejal18 are you still working on this?

[2021-05-30 16:05] Supriyo-455 commented on #131
yeah sure!

[2021-05-31 04:24] arpit456jain opened #132 "Change password feature"
Change password feature

[2021-05-31 04:25] arpit456jain commented on #132
@Akshay6890 @vikasdo what about this feature

[2021-05-31 10:56] Akshay6890 commented on #132
Go ahead.

[2021-06-02 07:41] #108 closed

[2021-06-02 07:42] #132 closed

[2021-06-02 08:13] Divyanshj commented on #20
@Akshay6890 Can you please elaborate this issue a little more.
I am new to open source and eager to work and learn more.
Please consider

[2021-06-02 08:19] Divyanshj commented on #74
I think this issue can be cured by creating cookies.
Please assign me this issue if someone is not working on it

[2022-03-08 10:59] raghavasrujan commented on #74
@Akshay6890 Hey I want to work on the issue and already cleared the bug. please assign it to me.

[2022-03-19 16:27] Akshay6890 commented on #74
Hi raghavasrujan,I have assigned the task to you, please do a pull request, I would like to verify the code.

[2022-03-21 17:47] Akshay6890 commented on #74
@raghavasrujan Will review the code a while later as I am occupied with some other tasks.

[2022-05-24 02:47] #74 closed